<head>
<link href="css/departmentHeadSearch.css" type="text/css" rel="stylesheet">
</head>

<div class="departmentHead-Search-wrapper-container" ng-controller="departmentHeadSearchController">
<p class="departmentHeadSearchPageHeading">Search Posts</p>
<div class="row">
<form ng-submit="getPostDetails()">
		<div class="col-md-4">
            <p class="searchPostDropDownText">Search Post Using</p>
            <select class="form-control selectParamOptions" ng-model="searchPostSwitch" required>
               <option value="">Search Post Using</option>
               <option value="applicationId">Post Id</option>
               <option value="owner">Owner</option>
               <option value="status">Post Status</option>
            </select>
         </div>

		<span ng-switch="searchPostSwitch" class="col-md-4">
            <span  ng-switch-when="applicationId">
            <input type="text"  class="form-control applicationIdTextBox" id="applicationId" placeholder="Enter Application Id" name="applicationId"  ng-model="searchParams.applicationId" required>
            </span>
            <span ng-switch="searchPostSwitch" class="selectOwner">
               <span ng-switch-when="owner"  >
                  <select class="form-control selectDepartmentOptions" ng-model="searchParams.ownerName" ng-options="x for x in departmenEmployeesName" required>
                     <option value="">Select Owner</option>
                  </select>
               </span>
            </span>
            <span ng-switch="searchPostSwitch">
            <span ng-switch-when="status">
            	 <select class="form-control selectStatusOptions" ng-model="searchParams.status" required>
                     <option value="" selected disabled>Select Status</option>
                     <option value="Not Started">Not Started</option>
                     <option value="Assigned">Assigned</option>
                     <option value="In Action">In Action</option>
                     <option value="On Hold">On Hold</option>
                     <option value="Delayed">Delayed</option>
                     <option value="Closed">Closed</option>
                  </select>
            	
            </span>
            </span>
         </span>
         
         <div class="col-md-4">
            <button type="submit" class="btn btn-primary searchUsingApplicationId">Search</button>
            <span class="errorMessage"><b>{{searchErrorMessage}}</b></span>
            <span class="errorMessage"><b>{{downloadError}}</b></span>
         </div>
</form>
</div>
<div class="gridTable">
      <div ui-grid="searchPostInfo"  class="grid grid-align" ui-grid-auto-resize ></div>
   </div>

</div>