<!doctype html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCGJ | Post Management Tracking System</title>
    <!-- Add stylesheets here -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/index.css" type="text/css" rel="stylesheet">

    <!-- Add javascripts here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
    
    
    <script type="text/javascript" src="js/controllers/dataEntryOperatorController.js"></script>
    <script type="text/javascript" src="js/controllers/deoEditController.js"></script>
    <script type="text/javascript" src="js/controllers/deoHomeController.js"></script>
    <script type="text/javascript" src="js/controllers/deoSearchController.js"></script>
    <script type="text/javascript" src="js/controllers/departmentEmployeesController.js"></script>
    <script type="text/javascript" src="js/controllers/departmentHeadsController.js"></script>
    <script type="text/javascript" src="js/controllers/indexController.js"></script>
    <script type="text/javascript" src="js/controllers/scgjAdminController.js"></script>
    <script type="text/javascript" src="js/directives/registerPostDirective.js"></script>
    <script type="text/javascript" src="js/directives/uploadFileDirective.js"></script>
    <script type="text/javascript" src="js/services/registerPostService.js"></script>
    <script type="text/javascript" src="js/directives/uploadFileService.js"></script>
	
	<!-- High charts libraries -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	     <script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/maps/modules/map.js"></script>
</head>
<body>




</body>
</html>